<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.examples.EMF"
            name="KIT SDQ HLA Example"
            parentCategory="org.eclipse.ui.Examples">
      </category>
      <wizard
            id="org.eclipse.emf.examples.JavaModelWizard"
            name="HLA Examples"
            class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
            category="org.eclipse.ui.Examples/org.eclipse.emf.examples.EMF"
            project="true"
            icon="icons/full/ctool16/NewEMFExample.gif">
         <description>Erstellung von Beispiel-Projekten</description>
      </wizard>
    </extension>

   <extension point="org.eclipse.emf.common.ui.examples">
 
      <example
            id="org.eclipse.emf.examples.JavaModel"
            wizardID="org.eclipse.emf.examples.JavaModelWizard"
            pageImage="icon/NewEMFExample.gif">
         <projectDescriptor
               name="edu.kit.ipd.sdq.modsim.hla.example.restaurant"
               contentURI="examples/edu.kit.ipd.sdq.modsim.hla.example.restaurant/"
               description="Restaurant Beispiel"/>
         <projectDescriptor
               name="edu.kit.ipd.sdq.modsim.hla.example.chat"
               contentURI="examples/edu.kit.ipd.sdq.modsim.hla.example.chat/"
               description="Chat Beispiel"/>
      </example>
      
     
    </extension>
</plugin>